<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Airplane Manager</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>
<body>
<div class="col-md mx-auto rounded border p-4">
  <a class="btn btn-primary" href="/home">Return to Main page</a>
</div>
<div class="container my-3">
  <h1 class="text-center mb-3">List of Departments</h1>
  <a class="btn btn-primary" href="/departments/create">New Department</a>
  <a class="btn btn-primary" href="/home">Return</a>
  <table class="table">
    <thead>
    <tr>
      <th>id</th>
      <th>address</th>
      <th>departureTimeOfAirplane</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="department :${departments}">
      <td th:text="${department.id}"></td>
      <td th:text="${department.address}"></td>
      <td th:text="${department.departureTimeOfAirplane}"></td>


      <td style="white-space:nowrap">
        <a class="btn btn-primary btn-sm"
           th:href="@{/departments/edit(id=${department.id})}">
          Edit
        </a>

        <a class="btn btn-danger btn-sm"
           th:href="@{/departments/delete(id=${department.id})}"
           onclick="return confirm('Are you sure?')">
          Delete
        </a>
      </td>
    </tr>
    </tbody>

  </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>